@import 'vars';
@import 'fonts';

div,h1,h2,h3,h4,h5,h6,span,p,section {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 14px;
  font-weight: 400;
  font-family: $font-family;
  width: 100%;
}

a {
  display: block;
  text-decoration: none;
  outline: none;
  color: $link-color;
}

.container {
  display: block;
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  padding: 0 5px;
  margin: 0 auto;
}
.input {
  background-color: #eef2f7;
  border-radius: 40px;
  border:none;
  outline: none;
  margin-bottom: 12px;
  font-size: 16px;
  max-width: 175px;
  width: 100%;
  padding: 24px 9px 24px 50px;

}
.name-icon::before {
  content: '';
  position: absolute;
  width: 19px;
  height: 23px;
  top: 10%;
  left: 18px;
  background-image: url('../img/icon-name.png');
  z-index: 4;
}
.phone-icon::before {
  content: '';
  position: absolute;
  width: 21px;
  height: 24px;
  top: 45%;
  left: 18px;
  background-image: url('../img/icon-phone.png');
  z-index: 4;
}


