@media (max-width: 1350px) {
  //  header
  .header {
    height: 80%;
  }
  .header-top{
    align-items: center;
    justify-content: space-around;
    .logo {
     margin-right: 0;
      &-text {
        margin-left: 20px;
        font-size: 22px;
      }
    }
  }
  .header-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .medicine {
      margin-top: 25px;
      max-width: 650px;
      width: 100%;
      position: static;

      &-items {
        text-align: center;
        &__price {
          font-size: 34px;
        }
      }
    }
  }

}


@media (max-width: 1250px) {
  //danger
  .danger{
    .danger-wrapper{
      .danger-info {
        &__title {
          font-size: 36px;
          margin-bottom: 30px;
        }
        &__text {
          font-size: 18px;
        }
        .danger-items {
          flex-direction: column;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          .danger__item {
            width: 100%;
            margin-bottom: 40px;
            margin-right: 0;
            &:nth-child(2) {
              margin-right: 0;
            }
            &:last-child{
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  //statistics
  .statistics {
    .statistics-wrapper {
      .statistics-img {
        position: absolute;
        top:-15%;
        left: 42%;
        background-color: #FFFFFF;
        padding: 0 55px;
      }
      .statistics-text {
        font-size: 18px;
        text-align: center;
        &__color {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .header {
  }
  .header-top{
    .logo {
      margin-right: 10px;
      &-text {
        margin-left: 10px;
        font-size: 18px;
      }
    }
    .nav {
      justify-content: flex-start;

      &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 20px;
        &:first-child {
          margin-left: 0;
        }
        &-text {
          margin-left: 10px;
          font-family: $font-family;
          font-weight: 300;
          font-size: 14px;
          font-style: italic;
          color: $link-color;
        }
      }
    }
  }

  .header-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .medicine {
      margin-top: 25px;
      max-width: 650px;
      width: 100%;
      position: static;

      &-items {
        text-align: center;
        &__price {
          font-size: 34px;
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .header {
    background-position: 0 60%;
  }
  .header-top{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 55px;
    .logo {
      margin-right: 0;
      &-text {
        margin-left: 10px;
        font-size: 18px;
      }
    }
    .nav {
      margin-top: 10px;
      justify-content: space-between;

      &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 20px;
        &:first-child {
          margin-left: 0;
        }
        &-text {
          margin-left: 10px;
          font-family: $font-family;
          font-weight: 300;
          font-size: 14px;
          font-style: italic;
          color: $link-color;
        }
      }
    }
  }

  .header-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .medicine {
      margin-top: 25px;
      max-width: 650px;
      width: 100%;
      position: static;

      &-items {
        text-align: center;
        &__price {
          font-size: 3vh;
        }
      }
    }
    .header-wrapper {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 50px;
      &:nth-child(1) {
        align-items: center;
      }
      .description {
        margin-right: 0;
        margin-bottom: 50px;
      }
    }
  }
}


@media (max-width: 768px) {
  .header {
  }
  .header-top{
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .logo {
      max-width: 320px;
      width: 100%;
      justify-content: flex-start;
      margin-right: 70px;
      &-text {}
    }
    .nav {
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      max-width: 320px;
      width: 100%;
      margin-right: 70px;

      &__link {
        max-width: 220px;
        width: 100%;
        justify-content:flex-start;
        align-items: center;
        margin-left: 0;
        margin-bottom: 10px;
        &:first-child {
        }
        &-text {
          font-size: 16px;
        }
      }
    }
  }
  .header-main {
    .description {
      margin-right: 0;
      margin-bottom: 50px;
      .description-title {
        font-size: 32px;
        &-items {
          .description-item {

          }
        }
      }

    }
  }


  .danger{
    .danger-wrapper{
      .danger-info {
        &__title {
          text-align: center;
          font-size: 28px;
          margin-bottom: 20px;
          max-width: 760px;
          width: 100%;
        }
        &__text {
          font-size: 14px;
          max-width: 400px;
          width: 100%;
          text-align: center;
        }
        .danger-items {
          flex-direction: column;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          .danger__item {
            width: 100%;
            margin-bottom: 40px;
            margin-right: 0;
            .danger__item-wrapper{
              .danger__item-img {
                margin-left: 15px;
                margin-right: 12px;
                position: relative;
              }
            }
            &:nth-child(2) {
              margin-right: 0;
            }
            &:last-child {

              margin-right: 0;
            }
            .danger__item-title {
              font-size: 16px;
              font-weight: 500;
            }
            .danger__item-text {
              font-size: 16px;
              max-width: 300px;
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .statistics {
    .statistics-wrapper {
      .statistics-img {
        position: absolute;
        background-color: #FFFFFF;
        padding: 0 35px;
      }
      .statistics-text {
        font-size: 14px;
        &__color {
          font-size: 16px;
        }
      }
    }
  }
}
@media (max-width: 640px) {
  .header-main {
    .medicine {
      margin-top: 25px;
      max-width: 650px;
      width: 100%;
      position: static;

      &-items {
        text-align: center;
        &__price {
          font-size: 5vw;
        }
      }
    }
  }
}
@media (max-width: 440px) {
  .container {
    padding: 0 4px;
  }
  .header-top{
    .logo {
      margin-right: 10px;
      &-text {
        margin-left: 10px;
        font-size: 18px;
      }
    }
    .nav {
      justify-content: flex-start;
      margin-right:0;
    }
  }
  .header-main {
    .medicine {
      margin-top: 25px;
      max-width: 650px;
      width: 100%;
      position: static;

      &-items {
        text-align: center;
        &__price {
          font-size: 5vw;
        }
      }
    }
    .description {
      margin-right: 0;
      margin-bottom: 50px;
      width: 100%;
      .description-title {
        font-size: 26px;

        &__item {
          font-size: 32px;
        }
      }
      .description-items {
        &::before {
          position: absolute;
          content: '';
          background-image: url("../img/Shape 3.png");
          background-repeat: no-repeat;
          background-size: cover;
          width: 13px;
          height: 210px;
          top: 116px;
          left: 23px;
        }
        .description__item {
          .description__item-img {
            margin-right: 10px;
          }
          .description__item-text {
            width: 200px;
          }
        }
      }
    }
  }
  .statistics {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .statistics-wrapper {
      border: 2px solid #f4d3bb;
      display: flex;
      align-items: center;
      justify-content: center;
      .statistics-img {
        position: absolute;
        top:-17%;
        left: 32%;
        background-color: #FFFFFF;
        padding: 0 35px;
      }
      .statistics-text {
        text-align: center;
        font-size: 14px;
        &__color {
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .header-main {
   .header-wrapper {
      .form-wrapper {
        .form-subtitle {
          left: 22%;
        }
        &::before {
          content: '';
          position: absolute;
          top: -15%;
          left: -44px;
          z-index: 9;
          background-image: url("../img/form-bg.png");
          background-size: 310px 600px;
          background-repeat: no-repeat;
          width: 300px;

        }
        .form-title {
          .form-price {
            &__old {
              margin-right: 10px;
              &-text {
                font-size: 26px;
                &::before {
                   top:12px;
                }
                &::after {
                  bottom: 15px;
                }
              }
            }
            &__new {

              &-text {
                width: 80px;
                height: 30px;
                font-size: 28px;
                &::after {
                  content: '';
                  background-image: url('../img/arrow.png');
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: 28px 160px;
                  width: 28px;
                  height: 160px;
                  z-index: 11;
                  top: 31px;
                  left: 104px;

                }
              }
            }
          }
        }
        .form {
          .button-wrapper {
              width: 222px;
            .button-form {
              padding: 2px 43px;
            }
          }
        }
      }

   }
  }
  .input {

    padding: 20px 7px 20px 40px;

  }
  .name-icon::before {

    top: 8%;
    left: 14px;

  }
  .phone-icon::before {

    top: 42%;
    left: 14px;

  }
}